@{
    ViewBag.Title = "Home Page";
}
<!-- banner slider-->
<div class="banner-silder">
    <div id="JiSlider" class="jislider">
        <ul>
            <li>
                <div class="w3layouts-banner-top">
                    <div class="container">
                        <div class="col-md-6 bannerimg">
                        </div>
                        <div class="col-md-6 agileits-banner-info">
                            <h3>Natural & Fresh Fruits Supply</h3>
                            <h3>Quality</h3>
                            <p>Fresh Fruits from our fruit land</p>
                            <div class="more">
                                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="container">
                        <div class="col-md-6 bannerimg1">
                        </div>
                        <div class="col-md-6 agileits-banner-info">
                            <h3>Affordable Prices, Highest Quality</h3>
                            <h3>Products</h3>
                            <p>Fresh Fruits from our fruit land</p>
                            <div class="more">
                                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="container">
                        <div class="col-md-6 bannerimg2">
                        </div>
                        <div class="col-md-6 agileits-banner-info">
                            <h3>We Have Wide Range Of</h3>
                            <h3>Products</h3>
                            <p>Fresh Fruits from our fruit land</p>
                            <div class="more">
                                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top3">
                    <div class="container">
                        <div class="col-md-6 bannerimg3">
                        </div>
                        <div class="col-md-6 agileits-banner-info">
                            <h3>We Grow & Sell Organic Food</h3>
                            <h3>Collection</h3>
                            <p>Fresh Fruits from our fruit land</p>
                            <div class="more">
                                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top">
                    <div class="container">
                        <div class="col-md-6 bannerimg4">
                        </div>
                        <div class="col-md-6 agileits-banner-info">
                            <h3>Vegetable of fertile land</h3>
                            <h3>Quality</h3>
                            <p>We build quality not money and serve the people.</p>
                            <div class="more">
                                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top">
                    <div class="container">
                        <div class="col-md-6 bannerimg5">
                        </div>
                        <div class="col-md-6 agileits-banner-info">
                            <h3>We Clean Environment</h3>
                            <h3>Fresh Vegetable</h3>
                            <p>Our aim is to serve the human.</p>
                            <div class="more">
                                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top">
                    <div class="container">
                        <div class="col-md-6 bannerimg6">
                        </div>
                        <div class="col-md-6 agileits-banner-info">
                            <h3>Onion & We Supply</h3>
                            <h3>Quality</h3>
                            <p>Qualitative Onion from our fertile land</p>
                            <div class="more">
                                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- //banner slider -->
<!--/about-->
<div class="about" id="about">
    <div class="container">
        <h2 class="heading">About Our Fruit Land</h2>
        <div class="col-md-7 aboutleft">
            <h3>We provide seasonal & unseasonal fruits with quality</h3>
            <h3>We grow best organic food</h3>
            <p>
                Fruitland may refer to: Fruitland, California · Fruitland, Georgia · Fruitland, Idaho · Fruitland, Iowa ·
                Fruitland, Maryland · Fruitland, Missouri · Fruitland, New Mexico ·Fruitland Township, Michigan · 
                Fruitland, Utah. "Fruitland" is also a part of the name of: Fruitland Park, Florida · Upper Fruitland, New Mexico ·
                Fruitland formation ...
            </p>
            <div class="more">
                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-5 aboutright">
            <div class="sreen-gallery-cursual">
                <div id="owl-demo" class="owl-carousel">
                    <div class="item-owl">
                        <div class="test-review">
                            <div class="img-agile">
                                <img src="~/Content/images/Onion/kheera.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <div class="img-agile">
                                <img src="~/Content/images/Onion/dobeg.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <div class="img-agile">
                                <img src="~/Content/images/Onion/maki.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <div class="img-agile">
                                <img src="~/Content/images/Onion/saljam.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <div class="img-agile">
                                <img src="~/Content/images/lemon.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--//about-->
<!-- services section -->
<section class="service-w3ls" id="services">
    <div class="container">
        <h3 class="heading">Our Services</h3>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
            <div class="ch-grid slideanim">
                <div>
                    <div class="ch-item ch-img-1"> 
                        <div class="ch-info">
                            <h3>Our Fresh Fruits</h3>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="slideanim">100% Pure organic fruits</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
            <div class="ch-grid slideanim">
                <div>
                    <div class="ch-item ch-img-2">
                        <div class="ch-info">
                            <h3>Affordable prices</h3>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="slideanim">We grow healthy fruits</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
            <div class="ch-grid slideanim">
                <div>
                    <div class="ch-item ch-img-3">
                        <div class="ch-info">
                            <h3>Seasonal Fruits</h3>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="slideanim">Affordable prices</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
            <div class="ch-grid slideanim">
                <div>
                    <div class="ch-item ch-img-4">
                        <div class="ch-info">
                            <h3>Unseasonal Fruits</h3>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="slideanim">We have experienced farmers</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
            <div class="ch-grid slideanim">
                <div>
                    <div class="ch-item ch-img-9">
                        <div class="ch-info">
                            <h3>Natutural Potatoes</h3>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="slideanim">We have Multiple categories</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
            <div class="ch-grid slideanim">
                <div>
                    <div class="ch-item ch-img-10">
                        <div class="ch-info">
                            <h3>Pure Galice</h3>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="slideanim">Pure Garlice like you</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
            <div class="ch-grid slideanim">
                <div>
                    <div class="ch-item ch-img-11">
                        <div class="ch-info">
                            <h3>All types of Onions </h3>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="slideanim">We have experienced farmers</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
            <div class="ch-grid slideanim">
                <div>
                    <div class="ch-item ch-img-12">
                        <div class="ch-info">
                            <h3>All types tomatoes</h3>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="slideanim">We have experienced farmers</h4>
        </div>
        <div class="clearfix"></div>

        <div class="service-bottomgrids">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
                <div class="ch-grid slideanim">
                    <div>
                        <div class="ch-item ch-img-5">
                            <div class="ch-info">
                                <h3>Growing and selling</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="slideanim">We guarantee quality products we sell</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
                <div class="ch-grid slideanim">
                    <div>
                        <div class="ch-item ch-img-6">
                            <div class="ch-info">
                                <h3>Wide range of Fruits</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="slideanim">We never use chemicals in our farm</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
                <div class="ch-grid slideanim">
                    <div>
                        <div class="ch-item ch-img-7">
                            <div class="ch-info">
                                <h3>Organic Food</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="slideanim">We have been in this business for years!</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 serv-w3layouts">
                <div class="ch-grid slideanim">
                    <div>
                        <div class="ch-item ch-img-8">
                            <div class="ch-info">
                                <h3>wide range of Berries</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="slideanim">We offer a wide range of organic fruits</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- /services section -->
<!--team-->
<div class="team" id="team">
    <div class="w3agile-spldishes">
        <div class="container">
            <h3 class="heading">Our Farmers</h3>
            <div class="spldishes-agileinfo">
                <div class="spldishes-grids">
                    <div class="col-md-3 item g1">
                        <img src="~/Content/images/t1.jpg" title="Our Farmers" alt="" />
                        <div class="agile-dish-caption">
                            <ul class="top-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h4>Jack Alisa</h4>
                        <p>Farmer</p>
                    </div>
                    <div class="col-md-3 item g1">
                        <img src="~/Content/images/t2.jpg" title="Our Farmers" alt="" />
                        <div class="agile-dish-caption">
                            <ul class="top-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h4>Charley Lucas</h4>
                        <p>Farmer</p>
                    </div>
                    <div class="col-md-3 item g1">
                        <img src="~/Content/images/t3.jpg" title="Our Farmers" alt="" />
                        <div class="agile-dish-caption">
                            <ul class="top-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h4>Randy Donald</h4>
                        <p>Farmer</p>
                    </div>
                    <div class="col-md-3 item g1">
                        <img src="~/Content/images/t4.jpg" title="Our Farmers" alt="" />
                        <div class="agile-dish-caption">
                            <ul class="top-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h4>Johnson Carle</h4>
                        <p>Farmer</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//team-->
<!-- gallery -->	
<div id="gallery" class="gallery">
	<h3 class="heading">Fruits Gallery</h3>
		<div class="w3ls_banner_bottom_grids">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#banana" id="banana-tab" role="tab" data-toggle="tab" aria-controls="banana" aria-expanded="true">Banana</a></li>
                    <li role="presentation"><a href="#pump" role="tab" id="pump-tab" data-toggle="tab" aria-controls="pump">Pumpkin</a></li>
                    <li role="presentation"><a href="#onion" role="tab" id="onion-tab" data-toggle="tab" aria-controls="onion">Onion</a></li>               
                    <li role="presentation"><a href="#apple" role="tab" id="apple-tab" data-toggle="tab" aria-controls="apple">Apple</a></li>
					<li role="presentation"><a href="#lemon" role="tab" id="lemon-tab" data-toggle="tab" aria-controls="lemon">Lemon</a></li>
					<li role="presentation"><a href="#Strawberry" role="tab" id="Strawberry-tab" data-toggle="tab" aria-controls="Strawberry">Strawberry</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="banana" aria-labelledby="banana-tab">
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g1.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g1.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Cavendish Bananas</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g2.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g2.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Lady Finger Bananas</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g3.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g3.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Cooking Bananas</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g4.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g4.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Yellow Bananas</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g5.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g5.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Latundan bananas</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g6.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g6.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Green bananas</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g7.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g7.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Banana Flower</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g8.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g8.jpg" alt=" " class="img-responsive" />
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Black spot bananas</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="apple" aria-labelledby="apple-tab">
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g9.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g9.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Fugi Apple</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g10.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g10.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Green Apple</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g11.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g11.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Gala Apple</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g12.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g12.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Bonza Apple</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g13.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g13.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Red Delicious Apple</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g14.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g14.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Golden Delicious Apple</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
                   @*onion satrt*@ 
                    <div role="tabpanel" class="tab-pane fade" id="onion" aria-labelledby="onion-tab">
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g9.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Onion/1.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Fugi Onion</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g10.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Onion/9.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Green Onion</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g11.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Onion/3.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Gala Onion</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g12.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Onion/4.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Bonza Onion</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g13.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Onion/5.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Red Delicious Onion</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g13.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Onion/8.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Red Delicious Onion</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g13.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Onion/7.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Red Delicious Onion</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g14.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Onion/6.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Golden Delicious Onion</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    @*Onion end*@
                    @*Pumpkin satrt*@
                    <div role="tabpanel" class="tab-pane fade" id="pump" aria-labelledby="pump-tab">
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g9.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Pumpkin/8.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Fugi Pumpkin</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g10.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Pumpkin/7.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Green Pumpkin</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g11.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Pumpkin/6.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Gala Pumpkin</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g12.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Pumpkin/5.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Bonza Pumpkin</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g13.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Pumpkin/4.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Red Delicious Pumpkin</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g13.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Pumpkin/3.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Red Delicious Pumpkin</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g13.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Pumpkin/2.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Red Delicious Pumpkin</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 w3layouts_gallery_grid">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g14.jpg">
                                <div class="w3layouts_team_grid">
                                    <img src="~/Content/images/Pumpkin/1.jpg" alt=" " class="img-responsive">
                                    <div class="w3layouts_team_grid_pos">
                                        <div class="wthree_text">
                                            <h4>Golden Delicious Pumpkin</h4>
                                            <p>Best In Quality</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    @*Pumpkin end*@






























					<div role="tabpanel" class="tab-pane fade" id="lemon" aria-labelledby="lemon-tab">
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g15.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g15.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Yellow Lemon</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g16.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g16.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Green Lemon</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g17.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g17.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Kumquat</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g18.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g18.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Key Lime</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g19.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g19.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Key Lime</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g20.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g20.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Lemon</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="Strawberry" aria-labelledby="Strawberry-tab">
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g21.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g21.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Strasberry</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g22.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g22.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Fragaria</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g23.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g23.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Garden Strawberry</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g24.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g24.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Wild strawberries</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g25.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g25.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Musk strawberry</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 w3layouts_gallery_grid">
							<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g26.jpg">
								<div class="w3layouts_team_grid">
									<img src="~/Content/images/g26.jpg" alt=" " class="img-responsive">
									<div class="w3layouts_team_grid_pos">
										<div class="wthree_text">
											<h4>Virginia strawberry</h4>
											<p>Best In Quality</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //gallery -->
<!-- clients-->
<div class="clients" id="clients">
    <div class="container">
        <h3 class="heading">Our Customers</h3>
        <div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
            <div class="wmuSliderWrapper">
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">
                        <div class="col-md-6 client-grids">
                            <p>The Aartia Fruit and Vegetables Company was a regional grocery chain in the Philadelphia and Baltimore areas that operated from 1927 until 1978. During the firm's history it was regarded as one of the most innovative American supermarket chains. However, the company's innovations often were copied by its bigger rivals who eventually succeeded in causing the chain's demise.</p>
                            <div class="col-md-3 c-img">
                                <img src="~/Content/images/c1.jpg" alt="" />
                            </div>
                            <div class="col-md-3 c-info">
                                <h4>Victoria</h4>
                                <h5>Customer1</h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 client-grids">
                            <p>The Aartia Fruit and Vegetables is the best Company a regional grocery chain in the Philadelphia and Baltimore areas that operated from 1927 until 1978. During the firm's history it was regarded as one of the most innovative American supermarket chains. However, the company's innovations often were copied by its bigger rivals who eventually succeeded in causing the chain's demise.</p>
                            <div class="col-md-3 c-img">
                                <img src="~/Content/images/c2.jpg" alt="" />
                            </div>
                            <div class="col-md-3 c-info">
                                <h4>Isabella</h4>
                                <h5>Customer2</h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">
                        <div class="col-md-6 client-grids">
                            <p>The Aartia Fruit and Vegetables is the best Company a regional grocery chain in the Philadelphia and Baltimore areas that operated from 1927 until 1978. During the firm's history it was regarded as one of the most innovative American supermarket chains. However, the company's innovations often were copied by its bigger rivals who eventually succeeded in causing the chain's demise.</p>
                            <div class="col-md-3 c-img">
                                <img src="~/Content/images/c3.jpg" alt="" />
                            </div>
                            <div class="col-md-3 c-info">
                                <h4>Elizabeth</h4>
                                <h5>Customer3</h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 client-grids">
                            <p>The Aartia Fruit and Vegetables is the best Company a regional grocery chain in the Philadelphia and Baltimore areas that operated from 1927 until 1978. During the firm's history it was regarded as one of the most innovative American supermarket chains. However, the company's innovations often were copied by its bigger rivals who eventually succeeded in causing the chain's demise.</p>
                            <div class="col-md-3 c-img">
                                <img src="~/Content/images/c4.jpg" alt="" />
                            </div>
                            <div class="col-md-3 c-info">
                                <h4>Alexa</h4>
                                <h5>Customer4</h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!--//clients-->
<!-- subscribe -->
<div class="subscribe">
    <div class="container">
        <h3 class="heading">Subscribe With Us</h3>
        <div class="subscribe-grid">
            <form action="#" method="post">
                <input type="email" placeholder="Enter Your Email" name="email" required="">
                <button class="btn1"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- //subscribe -->
<!-- contact -->
<div class="contact" id="contact">
    <div class="container">
        <div class="col-md-6 contactleft">
            <h3 class="heading">Contact us</h3>
            <h4>Fruit Land</h4>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>28Hk brs, provincial park,avenue road, Canada</p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>Tel : +(12) 498 5563 3312 , +(12) 498 5563 3439</p>
            <p>Fax : +(12) 498 5563 2178</p>
            <p>Contact Name : Anderson</p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p><a href="mailto:info@example.com">info@examplemail.com</a></p>
            <div class="contactform">
                <h4>Contact Form</h4>
                <form action="#" method="post">
                    <div class="col-md-6 agileits_agile_about_mail_left">
                        <input type="text" name="Name" placeholder="Name" required="">
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 agileits_agile_about_mail_left">
                        <input type="email" name="Email" placeholder="Email" required="">
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                    <textarea name="Message" placeholder="Message..." required=""></textarea>
                    <div class="submit">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 contactright">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3399.6936201393996!2d74.31279521476102!3d31.560021881356462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39191b54d6e691df%3A0xb1917e18527b14b9!2sLeemu+Tech+-+Best+Design+And+Web+Solutions+In+Town!5e0!3m2!1sen!2s!4v1518437581201" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
