
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-6 footernav">
            <div class="agileits-social">
                <ul>
                    <li><a href="#home" class="scroll">Home</a></li>
                    <li><a href="#about" class="scroll">About</a></li>
                    <li><a href="#services" class="scroll">Services</a></li>
                    <li><a href="#team" class="scroll">Farmers</a></li>
                    <li><a href="#clients" class="scroll">Clients</a></li>
                    <li><a href="#gallery" class="scroll">Gallery</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 copyright">
            <p>© 2018 Aartia Fruit Markeete. All rights reserved | Design by <a href="http://aartia.com/">Aartia</a></p>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Fruit land</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div>
                <div class="modal-body">
                    <img src="images/banana.png" alt=" " class="img-responsive" />
                    <p>
                        Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        e.
                        <i>
                            " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //bootstrap-pop-up -->